body{
    background-color: 	#87CEEB;

    color: aliceblue;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.box{
    margin: auto;
    width: 40%;
    background-color: 	rgb(0,0,0,0.6);
    margin-top: 100px;
    border-radius: 20px;
    padding: 20px;
}

.searchBox{
    padding-top: 20px;
    /* padding-right: 100px; */
}
.subm{
    color: 	rgb(255,255,255,0.9);
    font-size: 17px;
    position: relative;
    bottom: 38px;
    left: 460px;
    z-index: 10;
}




.city-search{
    background-color: rgb(0,0,0,0.7);
    border: 0;
    border-radius: 40px;
    color: antiquewhite;
}

input[type=text]:focus{
    color: rgb(255,255,255,0.8);
    background-color: rgb(0,0,0,0.7);
  }
.mag{
    height: 0px;
    padding-bottom: 10px;
}

 
/*content */

.tt{
    font-size: 5rem;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 2px;
}

.location{
    padding-left: 10px;
    font-family: "Comfortaa";
    
}
.cc{
    font-size: 30px;
}
.conar{
    width: 20%;
}

.weathercon{
    font-size: 4rem;
    padding-top: 10px;
}

.desp{
    font-size: 45px;
    padding-top: 10px;
    position: relative;
    right: 30px;

}
.info{

    color: rgb(255,255,255,0.8);
    font-size: 18px;
    position: relative;
    left: 89px;
    bottom: 18px
}

.dateAndTime{
    position: relative;
    left: 89px;
    bottom: 25px;
}

.bg-img{
    z-index: -1;
   
    width: fit-content;
    height:auto;
    position: absolute;
    top: 0px;

}